<!--============================================================================
// Name        : leader_master.launch
// Author      : Wenhao Zhao (wenhao.zhao@tum.de)
// Version     : Feb 2026
// Description : Leader node for teleoperation using haptic device 
//============================================================================ -->

<?xml version="1.0"?>
<launch>
  <arg name="demo_num_arg" default="1" />
  <node name="leader"
        pkg="franka_teleop_lmt"
        type="leader_node"
        output="screen"
        args="$(arg demo_num_arg)" />
</launch>
